  Ставим в очередь    Отослано            Принято
  %0505400A4028
  $056BF
  %1515400A402A
  $156C0
  %0101090AC034
  #0184
  %0202090AC036
  #0285
  %1111090AC036
  #1185
  %1212090AC038
  #1286
  %0303000A4020
  $037C0R32E8
  #03SC0+03.00098
  $037C1R32E9
  #03SC1+03.00099
  $037C2R32EA
  #03SC2+03.0009A
  $037C3R32EB
  #03SC3+03.0009B
                      %0505400A4028
  %0404000A4022
  $047C0R32E9
  #04SC0+03.00099
  $047C1R32EA
  #04SC1+03.0009A
  $047C2R32EB
  #04SC2+03.0009B
  $047C3R32EC
  #04SC3+03.0009C
  %1313000A4022
  $137C0R32E9
  #13SC0+03.00099
  $137C1R32EA
  #13SC1+03.0009A
  $137C2R32EB
                                          !0586
  #13SC2+03.0009B
  $137C3R32EC
  #13SC3+03.0009C
                      $056BF
  %1414000A4024
  $147C0R32EA
  #14SC0+03.0009A
  $147C1R32EB
  #14SC1+03.0009B
  $147C2R32EC
  #14SC2+03.0009C
  $147C3R32ED
  #14SC3+03.0009D
                                          !00000041
                      %1515400A402A  
                                          !1587
                      $156C0
                                          !00000041
                      %0101090AC034
                                          !0182
                      #0184
Timeout happens for command '#0184'
  #0184                      
                      %0202090AC036
                                          !0283
                      #0285
Timeout happens for command '#0285'
  #0285
                      %1111090AC036
                                          !1183
                      #1185
Timeout happens for command '#1185'
  #1185
                      %1212090AC038
                                          !1284
                      #1286
Timeout happens for command '#1286'
                      %0303000A4020
                                          !0384
                      $037C0R32E8
                                          !0384
                      #03SC0+03.00098
                                          !0384
                      $037C1R32E9
                                          !0384
                      #03SC1+03.00099
  #13C0+04.00047
  #0510014A
  $056BF
                                          !0384
                      $037C2R32EA
                                          !0384
                      #03SC2+03.0009A
                                          !0384
                      $037C3R32EB
                                          !0384
                      #03SC3+03.0009B
                                          !0384
                      %0404000A4022
                                          !0485
                      $047C0R32E9
                                          !0485
                      #04SC0+03.00099
                                          !0485
                      $047C1R32EA
                                          !0485
                      #04SC1+03.0009A                    
                                          !0485
                      $047C2R32EB
                                          !0485
                      #04SC2+03.0009B
                                          !0485
                      $047C3R32EC
                                          !0485
                      #04SC3+03.0009C
                                          !0485
                      %1313000A4022
                                          !1385
                      $137C0R32E9
                                          !1385
                      #13SC0+03.00099
                                          !1385                      
                      $137C1R32EA
                                          !1385                      
                      #13SC1+03.0009A
                                          !1385                      
                      $137C2R32EB
                                          !1385                      
                      #13SC2+03.0009B
                                          !1385                      
                      $137C3R32EC
                                          !1385                      
                      #13SC3+03.0009C          
                                          !1385                                
                      %1414000A4024
                                          !1486
                      $147C0R32EA
                                          !1486                      
                      #14SC0+03.0009A
                                          !1486                      
                      $147C1R32EB
                                          !1486                      
                      #14SC1+03.0009B
                                          !1486                      
                      $147C2R32EC
                                          !1486                      
                      #14SC2+03.0009C
                                          !1486                      
                      $147C3R32ED
                                          !1486                      
                      #14SC3+03.0009D
                                          !1486
                      #0184
                                          >+0.0004+0.0021+0.0003+0.0013+0.0006+0.0004+0.0004+0.0001A3
                      #0285
  #0184
                                          >+0.0300+0.0289+0.0000-0.0001+0.0006+0.0008+0.0009+0.0008BE
                      #1185
  #0285
                                          >-0.0003+0.0009+0.0006+0.0006+0.0004+0.0004+0.0004+0.0004B0
                      #1286
  #1185
                                          >+0.0006+0.0009+0.0008+0.0011+0.0008+0.0011+0.0011+0.0011AD
                      #13C0+04.00047
  #1286
                                          !1385
                      #0510014A
                                          >3E
                      $056BF
                                          !01000042
                      #0184
                                          >+0.0004+0.0023+0.0003+0.0013+0.0004+0.0004+0.0003+0.0003A4
